.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

select, input {
    display: inline-block;
    width: 200px;
    margin: 5px;
    font-size: 15px;
}

button {
    display: inline-block;
    margin: 5px;
    font-size: 15px;
}

.small {
    width: 30px;
}

.big {
    width: 100px;
}

.add:before {
    content: "\002B";
}

.asc:before {
    content: "\25B2";
    cursor: pointer;
}

.desc:before {
    content: "\25BC";
    cursor: pointer;
}

.minus:before {
    content: "\2212";
}

table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

.row {
    background-color: #eee;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    select, input, button {
        display: block;
    }
}