<h1>{{ pageProperties.title }}</h1>
<div class="section">
    <p>{{ pageProperties.description }}</p>

    <div class="input-container">
        <input type="text" placeholder="First Name" #firstName/>
        <input type="text" placeholder="Last Name" #lastName/>
        <input type="email" placeholder="Email" #email/>
        <input type="text" placeholder="Phone" #phone/>
        <input type="text" placeholder="Address Line" #addressLine/>
        <input type="text" placeholder="City" #city/>
        <input type="text" placeholder="State" #state/>
        <input type="text" placeholder="Zip" #zip/>
    </div>

    <div class="button-container">
        <button class="big" (click)="newContact(
          firstName.value, 
          lastName.value, 
          email.value, 
          phone.value,
          addressLine.value,
          city.value,
          state.value,
          zip.value)">CREATE</button>
        <button class="big" (click)="contact = null">CLEAR</button>
    </div>

    <table *ngIf="contact">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>{{ contact.firstName }} {{ contact.lastName }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
            <td>{{ contact.address.addressLine }} {{ contact.address.city }} {{ contact.address.state }} {{ contact.address.zip }}</td>
        </tr>
    </table>
</div>