table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0;
}

.row {
    background-color: #eee;
    cursor: pointer;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}