/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
    background-color: #006699;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.bar {
    width: 100%;
    height: 60px;
    background-color: #4d4d4d;
}

.bar a,span {
    display: inline-block;
    font-size: 30px;
    color: #bbb;
    line-height: 60px;
    padding: 0 5px;
    text-decoration: none;
}

.bar a:hover {
    background-color: #bbb;
    color: #4d4d4d;
}

.bar span:hover {
    background-color: #bbb;
    color: #4d4d4d;
    cursor: pointer;
}

.bar a {
    float: left;
    border-right: 1px solid #bbb;
}

.bar span {
    float: right;
    border-left: 1px solid #bbb;
}

.section {
    width:90%;
    height: auto;
    min-height: 300px;
    background-color: #bbb;
    border-radius: 5px;
    margin: 0 auto;
}

.section p {
    padding: 25px;
    font-size: 18px;;
}

#more {
    display: none;
    float: right;
    font-size: 30px;
    color: #bbb;
    line-height: 60px;
    padding: 0 5px;
    cursor: pointer;
}

.search:before {
    content: "\1F50D";
}

.upload:before {
    content: "\2912";
}

.edit:before {
    content: "\270E";
}

@media screen and (max-width: 500px) {
    .bar span {
        display: none;
    }

    #more {
        display: inline-block;
    }
}